*{    margin:0;
    Padding: 0;
    Box-sizing: Box-sizing;
}

    
.gridcontainer{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.20fr 1fr 0.2fr;
    grid-template-areas:
    "logoymenu"
    "main"
    "footer";
    gap: 1rem;
    justify-items: center;
    }

body{
    background-color: #edebeb;
 }

.cajalogo{
display: grid;
grid-area: logoymenu;
background-color: white;
justify-content: space-between;


}

 .logoinicio{
    width: 16rem;
    height: 6.5rem;
    margin-bottom: 0.8rem;
   }
   .logofooter{
    width: 12rem;
    height: 5rem;
}
.menu {    
    display: flex;
    font-family: "quicksand", san-serif;
    font-size: 0.8rem;
    text-decoration: none;
    background-color: #58118f;
    color: white;
    padding: 0.3rem;
    border-radius: 10px;
    border: 0 solid #58118f;
    margin-bottom:5px;

    
}

.parrafonosotros{
    width: 90%;
    margin: 0.5rem;
    text-align: center;
}

h1{   font-family: "Quicksand", sans-serif;
    color:#04167f;
    font-size: 1.1rem;
    text-align: center;

}
h2{    font-family: "Quicksand", sans-serif;
        color:#04167f;
        font-size: 1.1rem;
    }

h3{    font-family: "Quicksand", sans-serif;
        color:#04167f;
        font-size: 0.9rem;
    margin-bottom: 1rem;}

label { 
    font-family: "Mulish", sans-serif;
    font-size: 0.70rem;
    text-align: center;
    margin: 0px;

}

h4{
    font-family:"quicksand", san-serif;
    font-size: 1rem;
    text-align: center;
    
}
.botones{ 
    font-family: "quicksand", san-serif;
    font-size: 0.9rem;
    background-color: #58118f;
    color: white;
    height: 2rem;
    width: 5rem;
    border-radius: 1rem;
    border: none;
    margin: 1rem;
    padding: 0.3rem;
    text-align: center;
    text-decoration: none;
        
}

.botonesmenu{
    margin: 1rem;
}
footer{
    text-align: center;
    background-color: white;
    margin:1rem;
    width: 100%;
    padding: 1rem;
      }
      

.contenidofooter {
    margin: 1rem;

}

p{ 
        font-family: "mulish", sans-serif;
        font-size: 0.8rem;
        text-align: center;
        margin-top: 0.2rem;
    }

.infofooter{
        
        font-family: "mulish", sans-serif;
        font-size: 0.8rem;
        text-align: center;
        margin-top: 0.2rem;
        text-decoration: none;
    }

.parrafonosotros{
    margin-top: 2rem;
}


.cajafiltro{
    display: flex;
    width: 290px;
    background-color:#c1bec44b ;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-direction: column;
}

.imageninmueble{
    width: 10rem;
    height: 10rem;
    display: inline-block;
   padding: 1rem;
 
}



  .mainalquileres{
    display: grid;
    grid-area: main;
    display: flex;
   flex-direction: column;
     }

.card {
    display: flex;
   align-items: center;
}




.maincontacto{
    display: grid;
    grid-area: main;
       
    }

.botonesvolver{
        text-decoration: none;
        font-family: "quicksand", san-serif;
        font-size: 0.9rem;
        background-color: #58118f;
        color: white;
        border-radius: 10rem;
        padding: 0.5rem;
        width: 7rem;
        height: 1rem;
        text-align: center;
        }



@media (min-width: 450px) {
    .cajalogo {
        width: 100%;
        display: flex;
       justify-content: space-between;
       align-items: center;
        }

    .footer {
        width: 80%;
    
    }


.botonesmenu {
    display: flex;
    border: none;
    flex-direction: row;

    }

    .menu {
        margin: 1px;
        }



} 

@media (min-width: 600px){
    .cajafiltro {
        width: 12rem;
        margin: 0.3rem;
    }

    .filtrosall{
        display: flex;
        flex-wrap: wrap;
}
  
    
}
 
    

