.botonesvolver{
    @extend .botonbase;
    border-radius: 10rem;
    @include boxmodelmedidas(1.5rem,7rem,0rem,0px);
    }

.botones{ 
    @extend .botonbase;
    @include boxmodelmedidas(1.5rem,5rem,0.3rem,1rem);
    border-radius: 1rem;
    border: none; 
        }


    
    